@charset "UTF-8";

@font-face {
  font-family: "estudio-de-fotografia";
  src:url("fonts/estudio-de-fotografia.eot");
  src:url("fonts/estudio-de-fotografia.eot?#iefix") format("embedded-opentype"),
    url("fonts/estudio-de-fotografia.woff") format("woff"),
    url("fonts/estudio-de-fotografia.ttf") format("truetype"),
    url("fonts/estudio-de-fotografia.svg#estudio-de-fotografia") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "estudio-de-fotografia" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "estudio-de-fotografia" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-telefono:before {
  content: "\62";
}
.icon-e-mail:before {
  content: "\63";
}
.icon-menu:before {
  content: "\64";
}
.icon-insta:before {
  content: "\65";
}
.icon-gps:before {
  content: "\66";
}
